streamlit
streamlit-authenticator
pyyaml
elasticsearch>=8,<9
pandas
numpy
scikit-learn==1.4.2
networkx
plotly
matplotlib
pyvis
wordcloud
seaborn
jinja2>=3.0
emoji
spacy
sudachipy
sudachidict_core
torch>=2.0.0
torchvision>=0.15.0
